Repository nuke-ops/Nostra-13, pull requests merged in 2021-08, with the labels that each got.

#177 Paramedic office on Pubby
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit

#178 Funny cargo carp
  _maps/map_files/MetaStation/MetaStation_nostra.dmm
  _maps/map_files/OmegaStation/OmegaStation_nostra.dmm
  modular_nostra/code/game/objects/items/plushes.dm
  modular_nostra/code/modules/mob/living/simple_animal/hostile/carp.dm
  modular_nostra/icons/mob/animal.dmi
  modular_nostra/icons/obj/plushes.dmi
  tgstation.dme
Labels: Feature

#180 Omega security checkpoint fix
  _maps/map_files/OmegaStation/OmegaStation2deck_nostra.dmm
  _maps/map_files/OmegaStation/OmegaStation_nostra.dmm
Labels: Map Edit

#181 It wasn't my decision
  modular_nostra/code/modules/mob/living/simple_animal/hostile/cargo_carp.dm
  modular_sand/code/datums/components/crafting/recipes/recipes_misc.dm
  tgstation.dme
Labels: Removal, Tweak

#182 Adds Jerry, Jerry's bed and Citrus to cargo, also minor fixes.
  _maps/map_files/BoxStation/BoxStation_nostra.dmm
  _maps/map_files/DIYstation/DIYstation.dmm
  _maps/map_files/Deltastation/DeltaStation2_nostra.dmm
  _maps/map_files/MetaStation/MetaStation_nostra.dmm
  _maps/map_files/OmegaStation/OmegaStation_nostra.dmm
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit

#179 makeshift tools sprite update, cargo carp tweak
  modular_nostra/code/modules/mob/living/simple_animal/hostile/cargo_carp.dm
  modular_nostra/icons/mob/animal.dmi
  modular_sand/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_sand/icons/obj/tools.dmi
Labels: Sprites, Tweak

#185 Update SmolStation_nostra.dmm
  _maps/map_files/SmolStation/SmolStation_nostra.dmm
Labels: Map Edit

#186 Update SmolStation_nostra.dmm
  _maps/map_files/SmolStation/SmolStation_nostra.dmm
Labels: Map Edit, Tweak

#183 Makes medibots look nice
  icons/mob/aibots.dmi
Labels: Sprites

#184 bp miner rebalance, I hope people will like it
  modular_sand/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_sand/code/modules/research/techweb/bluespace_nodes.dm
Labels: Balance/Rebalance

#189 Update DIYstation.dmm
  _maps/map_files/DIYstation/DIYstation.dmm
Labels: Map Edit

#190 Update DIYstation.dmm
  _maps/map_files/DIYstation/DIYstation.dmm
Labels: Map Edit

#188 Add dirs to new medbot sprites
  code/modules/mob/living/simple_animal/bot/medbot.dm
  icons/mob/aibots.dmi
  modular_nostra/icons/mob/aibots.dmi
Labels: Sprites

#191 Update PubbyStation_nostra.dmm
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit

#192 Update PubbyStation_nostra.dmm
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit

#197 Update PubbyStation_nostra.dmm
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit
