Repository nuke-ops/Nostra-13, pull requests merged in 2021-09, with the labels that each got.

#199 Map updates
  _maps/map_files/BoxStation/BoxStation_nostra.dmm
  _maps/map_files/Deltastation/DeltaStation2_nostra.dmm
  _maps/map_files/MetaStation/MetaStation_nostra.dmm
  _maps/map_files/OmegaStation/OmegaStation_nostra.dmm
  _maps/map_files/PubbyStation/PubbyStation_nostra.dmm
Labels: Map Edit

#209 snaxi fix
  _maps/map_files/Snaxi/IcemoonUnderground_Above_nostra.dmm
  _maps/map_files/Snaxi/IcemoonUnderground_Below_nostra.dmm
  _maps/map_files/Snaxi/Snaxi_nostra.dmm
Labels: Map Edit

#200 New additional Space Ruins, Megafauna and more!
  _maps/RandomRuins/LavaRuins/lavaland_errorcodehostile.dmm
  _maps/RandomRuins/SpaceRuins/dcderelict.dmm
  _maps/RandomRuins/SpaceRuins/dcshuttle.dmm
  _maps/RandomRuins/SpaceRuins/madxenobiologist.dmm
  _maps/RandomRuins/SpaceRuins/spacepolice.dmm
  _maps/RandomRuins/SpaceRuins/spiderden.dmm
  _maps/RandomRuins/SpaceRuins/syndie_minibase_spawn.dmm
  _maps/RandomRuins/SpaceRuins/ultimatespacegamer.dmm
  _maps/RandomRuins/SpaceRuinsStation/roid11.dmm
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/apothalsnow.dm
  code/modules/vehicles/speedbike.dm
  config/lavaRuinBlacklist.txt
  config/spaceRuinBlacklist.txt
  icons/mob/lavaland/96x96megafauna.dmi
  modular_nostra/code/game/area/Space_Station_13_areas.dm
  modular_sand/code/modules/mob/living/simple_animal/hostile/megafauna/apothalsnow.dm
  modular_sand/sound/ambience/apothalsnow.ogg
  tgstation.dme
Labels: Map Edit

#208 Job titles revision
  modular_nostra/code/modules/jobs/job_types/_job_alt_titles.dm
  modular_sand/code/modules/jobs/job_types/_job_alt_titles.dm
  tgstation.dme
Labels: Tweak

#214 Update mecha.dm
  modular_sand/code/game/mecha/mecha.dm
Labels: Tweak

#210 Bamboo Spears!
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_nostra/code/game/objects/items/spears.dm
  modular_nostra/icons/obj/items_and_weapons.dmi
  modular_nostra/icons/obj/polearms_lefthand.dmi
  modular_nostra/icons/obj/polearms_righthand.dmi
  tgstation.dme
Labels: Feature
